<a href="https://colab.research.google.com/github/hrithikashukla/Sem5-NLP/blob/master/home%20assignment/amazon_not_bg_counter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import re

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines = True)

In [32]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def word_counter(text) :
  text = text.lower()
  word_list = text.split()
  word_count = {}

  for word in word_list:
    if word in word_count:
      word_count[word] += 1
    else :
      word_count[word] = 1  
      
  return word_count

In [0]:
data["reviewText_wordCount"] = data["reviewText"].apply(word_counter)

In [35]:
print(data.loc[18,"reviewText"])
print(data.loc[18,"reviewText_wordCount"])

This is a good calculator, does what it is supposed to, great color, easy to take on the road when I travel.
{'this': 1, 'is': 2, 'a': 1, 'good': 1, 'calculator,': 1, 'does': 1, 'what': 1, 'it': 1, 'supposed': 1, 'to,': 1, 'great': 1, 'color,': 1, 'easy': 1, 'to': 1, 'take': 1, 'on': 1, 'the': 1, 'road': 1, 'when': 1, 'i': 1, 'travel.': 1}

In [0]:
def vcw_counter(text) :
  text = text.lower()
  text = re.sub(r'[^a-z0-9\s]', '', text)
  word_list = text.split()
  vcw_dict = {}
  word_list = text.split()
  vowel_count = 0
  consonant_count = 0

  vcw_dict["word_count"] = len(word_list)
  text = text.replace(" ","")
  for i in text:
    if i.isalpha():
      if i in ['a','e','i','o','u']:
        vowel_count += 1
      else:
        consonant_count += 1
  
  vcw_dict["v_count"] = vowel_count
  vcw_dict["c_count"] = consonant_count

  return vcw_dict

In [0]:
data["reviewText_vcwCount"] = data["reviewText"].apply(vcw_counter)

In [38]:
data.head()

       reviewerID  ...                                reviewText_vcwCount
0  A32T2H8150OJLU  ...  {'word_count': 186, 'v_count': 279, 'c_count':...
1  A3MAFS04ZABRGO  ...  {'word_count': 901, 'v_count': 1504, 'c_count'...
2  A1F1A0QQP2XVH5  ...  {'word_count': 96, 'v_count': 134, 'c_count': ...
3   A49R5DBXXQDE5  ...  {'word_count': 603, 'v_count': 1089, 'c_count'...
4  A2XRMQA6PJ5ZJ8  ...  {'word_count': 120, 'v_count': 208, 'c_count':...

[5 rows x 11 columns]

In [39]:
print(data.loc[18,"reviewText_vcwCount"])

{'word_count': 22, 'v_count': 35, 'c_count': 48}

In [0]:
#filtering out words that start with b/B or end with g/G
def startb_endg(text) :
  text = text.lower()
  text = re.sub(r'[^a-z0-9\s]', '', text)
  bg = re.findall(r'\b[bB]\w+ | \w+[gG]\b', text)
  return bg

In [0]:
#filtering out words that do not start with b/B or end with g/G
def nstartb_nendg(text) :
  text = text.lower()
  text = re.sub(r'[^a-z0-9\s]', '', text)
  bg = re.findall(r'\b[^\WbB]\w+ | \w+[^\WgG]\b', text)
  return bg

In [0]:
data["reviewText_bgWords"] = data["reviewText"].apply(startb_endg)

In [0]:
data["reviewText_nbgWords"] = data["reviewText"].apply(nstartb_nendg)

In [44]:
data.head()

       reviewerID  ...                                reviewText_nbgWords
0  A32T2H8150OJLU  ...  [ bought,  my,  first,  hp12c,  in,  about,  1...
1  A3MAFS04ZABRGO  ...  [why , this ,  review,  feel,  very,  obliged,...
2  A1F1A0QQP2XVH5  ...  [ have,  an,  hp,  48gx,  that,  has,  been, k...
3   A49R5DBXXQDE5  ...  [ive , started , doing , more , finance , stuf...
4  A2XRMQA6PJ5ZJ8  ...  [for , simple , calculations , and , discounte...

[5 rows x 13 columns]

In [45]:
print(data.loc[0,"reviewText_bgWords"])
#printing words that start with b/B or end with g/G

['bought ', ' travelling', 'but ', 'by ', 'buy ', ' 49g', ' 49g', ' 49g', 'but ', ' 49g', 'be ', 'but ', 'best ', ' looking', 'be ', 'basic ', 'business ', 'be ', ' running', ' 49g', 'back ', 'batteries ', ' coming']

In [46]:
print(data.loc[18,"reviewText_nbgWords"])
#printing words that do not start with b/B or end with g/G

['this ', 'is ', ' good', ' calculator', ' does', ' what', ' it', ' is', ' supposed', ' to', ' great', ' color', ' easy', ' to', ' take', ' on', ' the', ' road', ' when', ' travel']