<a href="https://colab.research.google.com/github/hrithikashukla/Sem5-NLP/blob/master/home%20assignment/amazon_word_counter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines = True)

In [5]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def word_counter(text) :
  text = text.lower()
  word_list = text.split()
  word_count = {}

  for word in word_list:
    if word in word_count:
      word_count[word] += 1
    else :
      word_count[word] = 1  
      
  return word_count

In [0]:
data["reviewText_wordCount"] = data["reviewText"].apply(word_counter)

In [12]:
print(data.loc[18,"reviewText"])
print(data.loc[18,"reviewText_wordCount"])

This is a good calculator, does what it is supposed to, great color, easy to take on the road when I travel.
{'this': 1, 'is': 2, 'a': 1, 'good': 1, 'calculator,': 1, 'does': 1, 'what': 1, 'it': 1, 'supposed': 1, 'to,': 1, 'great': 1, 'color,': 1, 'easy': 1, 'to': 1, 'take': 1, 'on': 1, 'the': 1, 'road': 1, 'when': 1, 'i': 1, 'travel.': 1}